.item{
    margin-top: 16px;
    font-size: 40px;
    color: #ffffff;
    text-align: center;
    min-height: 380px;
    line-height: 180px;
    background-color: gray;
    box-sizing: border-box;
    height: 100%;
}
.prod{
    margin-top: 16px;
    font-size: 40px;
    color: #ffffff;
    text-align: center;
    min-height: 380px;
    line-height: 180px;
    background-color: orange;
    box-sizing: border-box;
    height: 100%;
}